<div ng-controller="MainCtrl"> 
<div class="page-header">
        <h1>lista Alumnos de profesor {{modelo.profesor}}
        <span ng-class="alertaAlumnos()" ng-hide="cuentaAsistentes()==modelo.alumnos.length">{{cuentaAsistentes()}}</span></h1>
</div>
<div class="panel">
<div ng-bind-html="thisCanBeusedInsideNgBindHtml"></div>
  <div class="input-group">
    <input class ="form-control" ng-model="alumnoInput.nombre"/>
    </div>
    <div class="input-group">
    <input class ="form-control" ng-model="alumnoInput.matricula"/>
    </div>
    <label for="carrera">Carrera</label>
    <select name="carrera" ng-model="alumnoInput.carrera">
    <option ng-repeat="it in modelo.carrerasDisponibles" value="{{it}}">{{it}}</option>
    </select>
    <span class="input-group-btn">

    <button class="btn btn-default" ng-click="addAlumno(alumnoInput)">Añadir</button><br/>
    <button class="btn btn-default" ng-click="enviarControlador()">Envio a una nueva pantalla</button>
    </span>
  </div>
  <p> se agrega este link para un nuevo elemento <a ng-href="#!/destino1">Liga a destino1 ojo debe ser "#!/destino"</a>
  <table class="table ">
    <thead>
      <tr>
      <th>ID </th>
        <th>Nombre</th>
        <th>Matricula</th>
         <th>Carrera</th>
        <th>Estatus</th>
         <th>Commandos</th>
      </tr>
      </thead>
      <tbody>
         <tr ng-repeat="shalala in modelo.alumnos|asistentes:mostrarTodos" ng-class="$odd ? 'Red':'Green'">
            <td>{{$index}}</td>
            <td>{{shalala.nombre}}</td>
            <td>{{shalala.matricula}}</td>
            <td>{{shalala.estatus}}</td>
            <td><input type="checkbox" ng-model="shalala.estatus"/></td>
            <td> <button class="btn btn-default" ng-click="editar(shalala)">Editar</button></td>
         </tr>
      </tbody>
  </table>
  <br/>

 



  <div class="checkbox-inline">
  <label><input type="checkbox" ng-model="mostrarTodos"/>Mostrar todos </label>
  </div>
 







